<head>

</head>



<body>

<div class="image1">
  <img class="float_right" [src]=myimage1>
</div>

<h1 class="a" style="color: red;">RAC Landing Page</h1>

<div class="wrapper3">
  <a href="#" class="button3" (click)="toggleLoading()">Register</a>
    <img class="spin" *ngIf="isLoading" style="width : 25px" [src]=myimage2>
</div>

<div class="wrapper4">
  <a href="#" class="button4" (click)="toggleLoading2()">Log In</a>
    <img class="spin2" *ngIf="isLoading2" style="width : 25px" [src]=myimage3>
</div>


</body>
